
body {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
}


#task-title {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: 32px;
  font-size: 32px;
  outline: none;
  cursor: pointer;
  color: rgb(66,82,110);
  font-weight: bold;
  margin-bottom: 50px;
  
}
#task-title:focus {
  border-bottom: 2px solid rgb(69, 137, 255);
}
::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
#task-description {
  margin: 32px;
  font-size: 24px;
  border-color: rgba(0, 0, 0, 0.2);
  outline-color: rgb(69, 137, 255);
  cursor: pointer;
  margin-bottom: 50px;

}
.task-description {
  font-size: 24px;
  margin-left: 32px;
  color: rgb(66,82,110);
  font-weight: bold;
}
#task-date {
  margin: 32px;
  width: 400px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-bottom: 50px;

}
.task-date {
  font-size: 24px;
  margin-left: 32px;
  color: rgb(66,82,110);
  font-weight: bold;
}
p {
  margin-left: 32px;
  font-size: 24px;
  color: rgb(66,82,110);
  font-weight: bold;
}
.radio-group {
  margin-left: 32px;
  box-sizing: border-box;
}

.btn-outline-danger {
  margin-right: 16px;
  padding: 0;
  color: black !important;
  padding: 8px 16px !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
}
label > img {
  position: relative;
  margin-left: 10px;
  margin-bottom: 5px;
}
.btn-outline-danger:hover {
  border-bottom: 2px solid rgb(255, 61, 0) !important ;
  background-color: white !important;
}

.btn-outline-danger:active,
.btn-outline-danger:focus {
  background-color: rgb(255, 61, 0) !important;
  transition: 0s !important;
  outline: none !important;
  color: white !important;
  border: none !important;
}

.btn-outline-danger:focus img {
  background-color: white !important ;
}
.urgent:active,
.urgent:focus {
  background-color: rgb(255, 61, 0) !important;
}
.medium:active,
.medium:focus {
  background-color: rgb(255, 168, 0) !important;
}
.low:active,
.low:focus {
  background-color: rgb(122, 226, 41) !important ;
}
.assigned {
  margin-top: 50px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  color: rgb(66,82,110);
  font-weight: bold;

}
.assigned-select {
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  width: 400px;
  
}
.assigned-select:focus {
  border-bottom: 2px solid rgb(69, 137, 255);
}
.assigned-select option:first-child {
  display: none;
}

.category-select option:first-child {
  display: none;
}
.category-select {
  margin-top: 10px;
  font-size: 24px;
  width: 400px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
  

}
.category {
  font-size: 24px;
  margin-top: 50px;
  color: rgb(66,82,110);
  font-weight: bold;
}
.category-select:hover {
  border-color: rgb(0,93,255);
}
.category-select:focus {
  border-bottom: 2px solid rgb(69, 137, 255);
}
.subtasks {
  margin-top: 50px;
  font-size: 24px;
  color: rgb(66,82,110);
  font-weight: bold;
}
#subtasks  {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 400px;
  margin-bottom: 50px;
}
#subtasks:hover {
  border-color: rgb(0,93,255);

}
.subtask-plus {
  position: relative;
  right: 30px
}
#subtasks:focus {
  border-bottom: 2px solid rgb(69, 137, 255);
  outline: none;
}
.buttons {
  /*width: 80vw;*/
  display: flex;
  justify-content: flex-end;
 
}
.buttons button {
  padding: 8px 18px;
  margin-left: 16px;
  font-size: 24px;
  outline: none;
}
.buttons button:active {
  outline: none !important;
}
.btn {
  border-radius: 10px !important;
}
.primary {
  position: relative;
  top: -3px;
  transform: scale(1.2, 1.2);
}
.btn-outline-secondary:hover {
  background-color: white !important;
  color: rgb(69, 137, 255) !important;
  box-shadow: 0 0 0 2px rgb(69, 137, 255) !important;
}
.createdTask {
  border: 1px solid black;
  width: 200px;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(69, 137, 255);
  color: white;
  padding: 12px 24px;
  border-radius: 16px;
  z-index: 9999;
  transition: opacity 1s;
}

.popup p {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

.popup.show {
  display: block;
  opacity: 1;
}

.popup.hide {
  opacity: 0;
  pointer-events: none;
}
.popup img {
  margin-left: 12px;
  margin-bottom: 2px;
}

.add-task-section {
  width: calc(100vw - 200px);
  height: calc(100vh - 80px);
  display: flex;
  overflow-y: scroll;
  margin-right: calc(100vw - 700px);
  box-shadow: 5px 0px 5px -2px rgba(0, 0, 0, 0.2);

}

/* width */
::-webkit-scrollbar {
  width: 6px;
  margin-right: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c7c5c5;
}

.roundNameDropdown {
  border: 1px solid rgb(39, 37, 37);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 40px;
  width: 40px;
}

#inputDropdown {
  width: 400px;
  border: none;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: flex-end;
}
#inputDropdown:hover {
  border-color: rgb(0,93,255);
}
.dropdown-assign {
  font-weight: 400;
  position: relative;
  right: 110px;
  color: black;
}
.hidden {
  display: none;
}

#dropdown {
  overflow-y: scroll;
  gap: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  padding: 10px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameAndInitiales {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

#addContactTask {
  width: 400px;
  position: sticky;
  bottom: 0;
}

#btnsAddTask{
    position: fixed;
    bottom: 50px;
    right:20px;
}

.radioBtn{
  width:120px ;
  height: 40px;
  border: 1px solid whitesmoke;
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-right: 10px;
}

#low{
  background-color: white;
}
#urgent:hover{
  box-shadow: inset 0 -2px orangered;

}
#medium:hover{
  box-shadow: inset 0 -2px #FFA800;

}
#low:hover{
  box-shadow: inset 0 -2px  yellowgreen;
}
.white-image{
  filter: brightness(0%) invert(100%);
}
 
#task-form {
  font-size: -2px !important;
}

#dropIcon{
  transform: scale(0.5);
}

@media(max-width:1040px){

  #btnsAddTask{
    background-color: white;
    position: absolute;
    bottom: 50px;
    left:10px;
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
  }

  #clearFormAdTask{
    display: none;
  }

  #task-form{
    position: relative;
    padding-bottom: 200px; 
  }

  .add-task-section{
    width: 450px;
  }

  @media(max-width:470px){

    .add-task-section{
      width: 330px;
      box-shadow: none;

    }

    #task-title{
      width: 300px;
      margin: 20px;
      margin-left: 12px;
    }

    #task-description{
      width: 300px;
      margin: 20px;
      /*margin-left: 12px;*/
    }

    .task-title{
      margin-left: 12px;
    }

    .task-description{
      margin-left: 12px;
    }
    #task-date{
      width: 300px;
      margin: 20px;
      margin-left: 12px;
    }
    .task-date{
      margin-left: 12px
    }

    #btnsAddTask{
      width: 330px;
      left:0px;
    }

    #subtasks{
      width: 298px;
    }

    #catSel{
      width: 300px;
    }

    .radio-group {
      margin-left: 12px;
    }
    p{
      margin-left: 12px;
    }

  #task-form{
    padding-bottom: 100px; 
    box-shadow: none;
  }

  #assigned{
    width: 300px;
  }

  #inputDropdown{
    width: 300px;
  }

  .dropdown-assign {
    width: 300px;
    position: static;
  }

  .radioBtn{
    width:98px ;
    margin-right: 4px;
  }


  .dropdownItem {
    width: 290px;
}

#addContactTask{
  width: 290px;
}


  }
}
