#content {
    display: flex;
  }
  
  #board {
    width: calc(100vw - 200px);
    height: calc(100vh - 80px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  #features{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #search{
    width: 300px;
    margin:40px
  }

  #tasks{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  }

  .aTaskArea{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .aTaskAreaBoard{
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .createdTask{
    border: 1px dashed gray;
    border-radius: 15px;
    background-color: #ccc;
    color: gainsboro;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .boardTitle{
    font-weight: bold;
  }

  .plus{
    border: 1px solid rgb(83, 105, 233);
    color:rgb(83, 105, 233) ;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }