#content {
  display: flex;
}


#contacts {
  width: calc(100vw - 200px);
  height: calc(100vh - 80px);
  display: flex;
}

#scrollContacts {
  border-right: 1px solid #ccc;
  width: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.2);
  padding-right: 6px;
}

#displayContact{
  display: flex;
  flex-direction: column;
  
}

#addContact {
  width: 80%;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #4589ff;
}

#addContact img {
  padding-left: 10px;
}
#contactList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
}

.letter {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.firstLetter {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
  width: 80%;
  padding-bottom: 30px;
  padding-left: 25px;
  margin-top: 10px;
}

.person {
  margin-top: 10px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.personAlt {
  margin-top: 10px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.person:hover {
  background-color: #d2e3ff !important;
  border-radius: 8px !important;
  cursor: pointer;
}

.roundName {
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: orangered;
  height: 40px;
  width: 40px;
  margin-right: 30px;
}

.emailPerson {
  color: #4589ff;
}

.addSidebar {
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contentsidebarRight {
  height: 100vh;
  width: 0vw;
  background-color: #4589ff;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.displayNone {
  display: none;
}

.joinHeader {
  height: 35vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#xClose {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#xClose:hover {
  background-color: #75a2f1;
  border-radius: 50%;
}

.joinHeader img {
  height: 60px;
}

.addContactSidebarContainer {
  background-color: white;
  height: 65vh;
  box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
  /* border-bottom-left-radius: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

#formContacts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.inputContact {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 66%;
  cursor: pointer;
}

.inputContact:focus {
  outline: none;
  border-bottom: 1px solid skyblue;
}

#nameC {
  background: white url(/grafiken/person.png) right no-repeat;
  padding-right: 17px;
}

#emailC {
  background: white url(/grafiken/mail.png) right no-repeat;
  padding-right: 17px;
}

#phoneC {
  background: white url(/grafiken/call.png) right no-repeat;
  padding-right: 17px;
}

.btns button {
  margin-right: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  margin-right: 8px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c7c5c5;
}

.renderContacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 40px;
}

.displayRoundName {
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  height: 100px;
  width: 100px;
  margin-right: 30px;
  box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.renderName {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.renderOnlyName {
  font-size: 40px;
  font-weight: bold;
}

.editAndDelete {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.alignImg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.alignImg:hover {
  color: #4589ff;
  cursor: pointer;
}

.renderEmailAndPhone {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 80px;
}

.contentsidebarLeft {
  height: 100vh;
  width: 40vw;
  background-color: #4589ff;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

#xCloseLeft {
  position: absolute;
  top: 15px;
  left: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactCreated {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}



#backToCon{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
@media(max-width:1040px){



#scrollContacts {
  box-shadow: none;
  border-right: none;
  width: 350px;
}

#contacts{
  width: 100vw;
}

/* #dialog{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.joinHeader{
height: 30vh;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
}
.contentsidebarRight{
  height: 90vh;
}
.addContactSidebarContainer{
  height: 60vh;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
} */

#imgRight{
  display: none;
}
#cancelBtn{
  display: none;
}
.renderContacts {
  margin-right: 0;
  margin-left: 8px;
}

.renderEmailAndPhone{
  margin-left: 8px;
  margin-right: 0;
}

.renderOnlyName {
  font-size: 20px;
}

#displayContact{
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
}

}

