body{
    margin: 0;
}

header{
height: 80px;
width: 100vw;
background-color: #4589FF;
display: flex;
justify-content: space-between;
align-items: center;
}

#joinStartImage{
    margin-left: 40px;
    height: 50px;
}

#kanban{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    color:white;
}