body{
    margin: 0;
}

header{
height: 80px;
width: 100%;
background-color: #4589FF;
display: flex;
justify-content: space-between;
align-items: center;
}

#joinStartImage{
    margin-left: 40px;
    height: 50px;
}

#kanban{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    color:white;
}

#initials{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    border: 2px solid #4589ff;
    outline: 2px solid white; 
    color: #4589ff;
    justify-content: center;
    align-items: center;
  }

  #options{
    height: 90px;
    width: 100px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    position: fixed;
    top: 84px;
    right:4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

  }
  #options a {
    text-decoration: none;
    color: black;
  }
  #options a:hover {
    background-color:rgb(210,227,255); 
  }

  .option{
    cursor: pointer;
  }
  .option:hover {
    background-color: rgb(210,227,255);
  }

  .dNone{
    display: none;
  }
  .help-icon:hover {
    transform: scale(1.1);
  }
  