#initials{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    border: 2px solid #4589ff;
    outline: 2px solid white; 
    color: #4589ff;
    justify-content: center;
    align-items: center;
  }