#sidebar{
    height: calc(100vh - 80px);
    width: 200px;
    border-right: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#menu{
    margin-top: 30px;
}

#menu a{
    text-decoration: none;
    color: #42526E; 
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;  
    padding-left: 25px;
    text-align: left;
}

#sidebar a:hover{
    background-color: #D2E3FF;
    border-radius: 8px;
}

#menu img{
    margin-right: 10px;
}

#policy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 20px;
    color: #42526E;
}
