
#signUpBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px; 
    right: 40px; 
    gap: 10px;
}

#formSignUP{
    width: 100%;
    height: 70%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

#signUpBody{
    height: 100vh;
    width: 100vw;
    background-color: #4589FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#joinImage{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 80px;
}

#signUpContainer{
    width: 40%;
    height: 60%;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(211, 212, 214, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: white;
    position: relative;
}

#signUpTitle{
    font-size: 32px;
    font-weight: bold;
    border-bottom: 4px solid #4589FF;
}

.inputSignUp{
    border: none;
    border-bottom:1px solid #ccc;
    width: 66%;
    cursor: pointer;
}

.inputSignUp:focus{
    outline:none;
    border-bottom:1px solid skyblue;
}

#signUpName{
    background: white url(/grafiken/person.png) right no-repeat;
    padding-right: 17px
}

#signUpEmail{
    background: white url(/grafiken/mail.png) right no-repeat;
    padding-right: 17px
}

#signUpPassword{
    background: white url(/grafiken/lock.png) right no-repeat;
    padding-right: 17px
}

#signUpPasswordConfirmation{
    background: white url(/grafiken/lock.png) right no-repeat;
    padding-right: 17px
}

#footerContainerSignup{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    gap: 10px;
    color: white;
}

.privacyLegalSignUp:hover{
    color: blue;
    cursor: pointer;
}

#backArrow{
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 8px;
}

#signedUp {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#footerContainerSignup a {
    color: white; /* Textfarbe auf Schwarz setzen */
    text-decoration: none; /* Unterstrich entfernen */
}
#footerContainerSignup a:hover {
    color: blue; /* Farbe beim Überfahren ändern */
}

@media(max-width:1040px){
    #signUpContainer{
        width: 300px !important;
    }

    #joinImage{
        width: 40px;
    }
}
